

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    
    height:10%;
    display: flex;


}

.cell {
    width: 10%;
    
    border-color: cornflowerblue;
    border-style: solid;
}